@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root{
    --border-radius:12px
} 

*{
    font-family: 'ABeeZee', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right, rgb(244,67,184),rgb(24,13,231));
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-image: url(mod.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.container{
    margin: 10vh 13vw;
    width: 100vw; 
    aspect-ratio : 15 / 8;
    border-radius: var(--border-radius);
    
    display: flex;
    box-shadow: 3px 3px 25px black;
}

.left{
    position: relative;
}

.left::after{
    content: 'created by coolvector';
    color: white;
    font-size: clamp(8px, 1vw, 13px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 7px;
}

.right{
    background-color: white;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    overflow-y: hidden;
}

.right legend{
    font-size:clamp(14px, 1.6vw, 20px);
}

.rightCont p{
    padding-bottom: 5%;
}

.rightCont{  /* allow the scrollbar to have a border radius */
    overflow-y: auto;   
}

.right>* {
    font-size: clamp(11px, 1.3vw, 17px);
}

.rightCont>p{
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 5%;
    line-height: 1.3;
}

#formContainer{
    border: 1px solid green;
    padding: 0;
    display: block;
}

input{
    position: relative;
    font-size: clamp(11px, 1.3vw, 17px);
    width: clamp(150px,13vw,400px);
    height: 1em;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(244,67,184), rgb(24,13,231)) 1;
    color: red;
}   

.left,
.right{
    width: 50%;
    height: 100%;
}

.left h1{
    font-size: 1.6vw;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    translate: -50%;
}

.left h2{
    font-size: 1.1vw;
    color: white;
    position: absolute;
    top: 36%;
    left: 12em;
}

label{
    display: inline-block;
    font-size: clamp(7px, 0.8vw, 11px);
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(24,13,231) ;
    background-image: linear-gradient(45deg, rgb(244,67,184), rgb(24,13,231));
   
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

input:focus{
    -webkit-text-fill-color: rgb(24,13,231); 
    -moz-text-fill-color: rgb(24,13,231);
    outline-color: rgb(244,67,184);
}


input{
    display: block;
    margin-right: 1vw;
    -webkit-text-fill-color: rgb(24,13,231); 
    -moz-text-fill-color: rgb(24,13,231);
    color: red;                 
}

button{
    display: block;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 3%;
    width: max(35%, 115px);
}

fieldset{
    border: none;
}

form{
    box-shadow: 0px 4px 10px -5px black;
    padding: 3% 0 3% 0;
}

.login{
    font-size: clamp(9px, 0.8vw, 12px);
}




